[2020-12-08 09:11] Tpt commented on #515
Great point. If we stay on GitHub, GitHub Actions has the advantage of being integrated into the platform and easy to setup. I use it for quite a lot of repositories and I am happy with it. So it seems to me that it is the best short term choice.

[2020-12-16 16:45] #515 closed

[2020-12-21 16:54] rwst opened #520 "SSL problem (outside Eclipse)"
I wrote a small hybrid of the local dump example and the rdf example. It worked fine under Eclipse but on Intellij and also on command line it fails with (see below). It seems an SSL problem, could it be I'm missing a library from Eclipse? Which?
[code]

[2020-12-22 08:56] rwst commented on #520
Here the handshake log where it fails. Apparently `www.wikidata.org` doesn't like something but what?
[code]

[2020-12-22 08:58] wetneb commented on #520
This could potentially be due to an outdated JRE which does not include the certificate authorities to trust Wikidata's SSL certificate. Updating your Java installation could potentially help.

[2020-12-22 09:03] rwst commented on #520
The handshake before with `dumps.wikimedia.org` works fine though. I'll try changing...

[2020-12-22 09:10] rwst commented on #520
Indeed replacing `jre-1.8.0-openjdk` with `jre-1.8.0-oracle` solved it. Thanks!

[2020-12-22 09:10] #520 closed

[2020-12-28 14:07] jjkoehorst commented on #376
@wetneb is there any solution except try catch and parse the message?

[code]

[2020-12-28 14:10] wetneb commented on #376
we should just fix this in WDTK itself, really! I would solve this by introducing a new class which represents a property without its datatype, use this to deserialize the editing action result, and then return this to the user or return a full property if the datatype is known from elsewhere (previous version of the property).

[2021-01-10 23:41] hideodeo opened #521 "How does wbsearchentities select entities?"
I am not sure if this repo is an appropriate place to ask this, but I am wondering how wbsearchentities selects & orders entities given a text as an input.

It seems this page is not explaining how it works.
https://www.wikidata.org/w/api.php?action=help&modules=wbsearchentities

[2021-01-11 08:44] wetneb commented on #521
I would also be interested in reading documentation about this! But you are correct that this is not the right place to ask for it, that is done by Wikibase itself.
I think you could file a phabricator ticket about this at https://phabricator.wikimedia.org/.

[2021-01-11 08:44] #521 closed

[2021-01-18 06:07] brett-matson opened #522 "No ability to detect dump processing failure"
Hi there,

I'm still pretty new to Java, but from what I can tell, there doesn't appear to be any way for a calling program to detect a failure (i.e. IOException caused by file not found) in DumpProcessingController.processDump(). There's no method return value and the exceptions are caught and logged in the Wikidata-Toolkit (see code below). As far as I can tell, the only way an external program

[2021-01-19 09:11] wetneb opened #524 "Fix coverage submission to Coveralls"
Currently failing when PRs are submitted from a third-party fork, for security reasons.

https://securitylab.github.com/research/github-actions-preventing-pwn-requests

[2021-01-30 03:32] robertvazan commented on #437
Hello. What's the status of lexeme editing? I have a private lexeme editing library that is in some ways more capable than WDTK and in others less capable. I am at the crossroads choosing between major upgrade to my private library or switching to WDTK and upgrading it with a series of smaller pull requests.

WDTK will mostly work for me. I have only encountered following issues:
* no way to remov

[2021-01-30 07:22] wetneb commented on #437
Hi @robertvazan, thanks for offering to contribute on this!

Personally, I was not aware of the `lexeme-editing` branch at all. If this branch has been useful to you and you don't see any big issue about it, then you could open a pull request for it, potentially adding any further changes you have made on your side. I think it would be very welcome and I would be keen to review it.

Let's also pin

[2021-01-30 08:39] robertvazan commented on #437
@wetneb I haven't started using WDTK yet. Can I just ignore the branch then and submit PRs to master?

[2021-01-30 08:48] wetneb commented on #437
If you did not use this branch yourself, then yes it's fine to submit PRs based on master. But it could be worth waiting a bit for @Tpt to understand why this branch was left unmerged.

[2021-01-30 08:55] Tpt commented on #437
I have not merged this branch because it is still buggy.
Indeed a few features are still missing in WikibaseLexeme to be able to use the `wbeditentity` API just like we do on items and properties:
1. It is not possible to edit sense as part of a lexeme edit: https://phabricator.wikimedia.org/T199896
2. The JSON result with the new version of the lexeme is incomplete and sometime wrong: https://pha

[2021-01-30 09:03] robertvazan commented on #437
@Tpt WDTK can just implement Wikibase API to the extent it is implemented in Wikibase itself. Known unsupported request features can be detected and terminated with exception before they hit network. Incomplete responses can be either mapped to incomplete WDTK objects or an additional read requests can be made. This can be all documented. This way WDTK can expose available APIs to maximum extent p

[2021-01-30 09:23] Tpt commented on #437
@robertvazan That would be great! If you could implement it, it would be amazing!

[2021-02-01 06:30] robertvazan commented on #437
Just FYI: I have tested wbeditentity on test Wikidata and most of the lexeme can be edited. The only exception is sense statements. Senses themselves (addition/removal) and their glosses are editable though. Editing of forms and senses works both directly via form/sense ID and via lexeme except for the mentioned sense statements. The returned JSON is indeed incomplete. It is only useful to obtain

[2021-02-01 19:56] #524 closed

[2021-02-03 05:25] robertvazan commented on #426
The old login method shouldn't be deprecated though. I do use the BotPasswords method. There should be two login methods, one for full user login and one for restricted access via BotPasswords.

[2021-02-03 07:53] robertvazan commented on #403
@Tpt  @wetneb I have successfully integrated WDTK in my code and added a layer of extension code to cover missing functionality. Now I am looking for ways to upstream all these extensions. I am considering an API similar to the one proposed above, so I am posting this here.

Every edit would start with a builder:

[code]

I am omitting a lot of the API for brevity (items, senses, properties). This

[2021-02-03 08:04] robertvazan commented on #372
This should be closed as a special case of #327.

[2021-02-03 08:14] wetneb commented on #403
Hey @robertvazan, this would be absolutely fantastic! I think it totally makes sense to leave the merging logic out of this at first, what you are proposing is a very sensible refactoring that feels like a natural first step.

The GUID generator is required when making edits with the [wbsetclaim](https://www.wikidata.org/w/api.php?action=help&modules=wbsetclaim) action, which requires the caller t

[2021-02-03 08:30] robertvazan commented on #327
Even `Optional` wouldn't be enough.

`Optional` is an improvement as it lets API users decide what to do about missing values (fallback, null, throw). But I noticed many methods return null if they cannot choose between two possible results. In these cases, even `Optional` wouldn't provide callers with sufficient choice.

These methods just have to return `List`. To make them more convenient, it i

[2021-02-03 08:36] robertvazan commented on #403
@wetneb Thanks for the explanation. I think the GUID generator logically belongs in `WikibaseDataEditor`, because it is a requirement of the Wikibase API and it is only used in special cases, not in all updates, so update classes shouldn't know about it..

[2021-02-03 08:51] robertvazan commented on #446
Why is this open? Is there anything to do on WDTK level?

[2021-02-03 08:55] robertvazan commented on #442
@Tpt @wetneb Is this still broken? I remember from when I used Wikibase API directly that CSRF tokens expire when not used for some time. They have to be renewed periodically. This is not a problem for busy bots, but assisted editing tools will have gaps in activity that cause CSRF tokens to expire.

[2021-02-03 08:56] robertvazan commented on #286
Is this fixed? Can this be closed?

[2021-02-03 08:59] Tpt commented on #403
This proposal looks great to me! Thank you!

[2021-02-03 09:01] luisenriqueramos1977 commented on #446
well, I open the issue and to now I do not know if there is a solution.
about your question:
Is there anything to do on WDTK level?, I wonder the same, and hope we could do something from WDTK site.

Luis

[2021-02-03 09:02] luisenriqueramos1977 commented on #442
I solved the issue, thans

[2021-02-03 09:03] wetneb commented on #446
So, the solution is to change `wgRateLimits` in the configuration of your Wikibase instance. There is no way to do this via the API and therefore it is impossible to add support for this in WDTK.

[2021-02-03 09:03] #446 closed

[2021-02-03 09:07] wetneb commented on #286
Actually my interpretation of this bug was wrong: the problem is just that `findStatement` returns `null` if there are none **or multiple** matching statements. So this was the expected behaviour of the API (it is documented as such).

[2021-02-03 09:07] #286 closed

[2021-02-03 09:23] robertvazan commented on #108
I would be also in favor of creating bugfix release from master whenever someone requests it.

Ideally, release would just involve running a script. On my projects, I am using [a GitHub workflow](https://github.com/robertvazan/noexception/blob/master/.github/workflows/maven-release.yml) that does most of the work. Secrets (MAVEN_* variables) can be configured in GitHub settings. A small script how

[2021-02-03 09:30] robertvazan commented on #50
@Tpt @wetneb This should be probably closed.

[2021-02-03 09:30] robertvazan commented on #477
@Tpt @wetneb This should be probably closed.

[2021-02-03 09:43] robertvazan commented on #18
@Tpt @wetneb This issue is quite old. Is this (and related #19 and #20) still considered for inclusion in WDTK? AFAIK there are dedicated SPARQL engines with their own storage. Wikidata is certainly using one. Embedded WDTK implementation would be easier to use in some cases, but would it be good enough to be useful? Wikidata dump is ~100GB by now.

[2021-02-03 09:55] wetneb commented on #18
I cannot really make sense of this, it's not clear to me what this was for.  I would say that implementing a SPARQL engine is clearly out of scope of WDTK. Let's close this then.

[2021-02-03 09:55] #18 closed

[2021-02-03 09:56] wetneb commented on #19
Closing this as stale, feel free to revert if this still fits in some relevant milestone.

[2021-02-03 09:56] #19 closed

[2021-02-03 09:56] wetneb commented on #20
Closing this as stale, feel free to revert if this still fits in some relevant milestone.

[2021-02-03 09:56] #20 closed

[2021-02-03 09:57] #477 closed

[2021-02-03 09:58] #50 closed

[2021-02-03 10:07] robertvazan commented on #403
How about breaking changes? Should I add `createNewXDocument` methods and deprecate `createXDocument` methods or should I just change return type of existing `createXDocument` methods? My original proposal does not break anything (I think), but then WDTK is in 0.x stage and I see that #327 is boldly proposing lots of breaking changes.

[2021-02-03 10:13] wetneb commented on #403
It does not seem too hard to keep the existing API as deprecated methods alongside the new one, so I think we should do that.

[2021-02-03 10:29] robertvazan opened #527 "Warnings"
Eclipse reports 56 warnings in WDTK. I can see several categories:

* abuse of `JsonMappingException` for application exceptions
* unused imports
* testing of deprecated APIs
* using deprecated WDTK APIs in WDTK itself
* some changes in recent okhttp3, commons-io
* missing `serialVersionUID`
* unused fields
* probably incomplete tests (unused methods in `RdfConverterTest`)

Would you mind me submi

[2021-02-03 10:32] robertvazan opened #528 "Deprecated methods"
There are about 20 deprecated methods. Is it time to remove them or should they be kept longer? For how long are deprecated APIs maintained?

[2021-02-03 10:37] robertvazan commented on #442
@luisenriqueramos1977 So what was the cause and how did you solve the problem? Can this issue be closed?

[2021-02-03 10:41] robertvazan opened #529 "JUnit 5"
Can I upgrade the project to JUnit 5? It has some nice features, notably an easier way to test expected exceptions. I wouldn't actually convert the tests to use the new features. I would just do minimal effort upgrade, so that JUnit 5 features are available for use in new tests.

[2021-02-03 10:46] robertvazan opened #530 "Swallowed exceptions"
I notice that swallowing exceptions (catching without rethrowing or wrapping) is a widespread practice in WDTK. This can sometimes result in invalid values being propagated to application or even to API calls. Can I assume that all cases of exception swallowing are bugs and fix them?

[2021-02-03 11:14] Tpt commented on #529
Yes, please!

[2021-02-03 11:15] wetneb commented on #530
I think #526 is a clear improvement and I am sure there are tons of other places where we could do the same. Hard to say if it is true "everywhere", of course there is a judgment call to make…

[2021-02-03 11:15] Tpt commented on #528
There is no depreciation policy at the moment. WikidataToolkit has not moved much in the past year so I believe all deprecated methods could now be removed.

[2021-02-03 11:15] Tpt commented on #527
Yes, please.

Yes!

[2021-02-05 08:44] msx80 opened #532 "Serializing model object"
Hi there, i was trying to serialize an ItemDocumentImpl to implement a simple cache, but it looks like it's not serializeable.

`Caused by: java.io.NotSerializableException: org.wikidata.wdtk.datamodel.implementation.ItemDocumentImpl
	at java.io.ObjectOutputStream.writeObject0(ObjectOutputStream.java:1184)`

I've seen from issue #74 and pull request #110 that the default model should be Serializab

[2021-02-05 08:51] wetneb commented on #532
I think this has been dropped later on indeed, I am not sure why. I think it could be worth reintroducing it, I can see it being useful in many contexts.

In the meantime, if this is an option for you, you could potentially serialize it to JSON, either with the utilities in WDTK or directly with Jackson.

[2021-02-05 10:51] #528 closed

[2021-02-05 14:01] msx80 commented on #532
Would you mind pointing me at these utilities? I can see stuff being unserialized in WbGetEntitiesAction.wbGetEntities() but it's not immediately reusable.

In addition to Serializable, you could consider giving data model objects a no-args constructor to make them play well with other serializers, like Kryo, that requires it. I can see that this is much more work and a much narrower problem so fe

[2021-02-05 16:48] wetneb commented on #532
We have this: http://wikidata.github.io/Wikidata-Toolkit/org/wikidata/wdtk/datamodel/helpers/JsonSerializer.html
But it will not let you serialize all classes of the datamodel, only the EntityDocuments.

I think that would go against the goal to keep all these datamodel classes immutable. I am not so familiar with Kryo so I don't know if there is a way to make it work in that case?

[2021-02-06 11:17] brett-matson commented on #39
Hi Guys,

Sorry, I'm not sure what the etiquette is for commenting on closed issues, but I wonder whether this one would benefit from some more thought.

When parsing the dump file, I only ever get one CPU core at a time doing work (see the image below). It appears that the parsing is CPU bound for a single core, so potentially the Toolkit could gain performance by using multiple cores. Can anyone

[2021-02-06 17:43] wetneb commented on #39
@brett-matson perhaps you could just open a new issue, requesting this improvement? Personally I don't use WDTK on dumps so I don't have experience with this.

[2021-02-06 17:49] thadguidry commented on #39
@brett-matson Depending on your exact needs, you might also take a look at other clients that support processing Wikidata dumps such as [Knowledge Graph Toolkit (Python)](https://github.com/usc-isi-i2/kgtk)

[2021-02-07 23:39] robertvazan opened #534 "License and file headers"
This issue is a low priority reminder that license template must be actually filled in for the license to be valid. File headers must point to this filled in license in the repository instead of the online template. For Apache License, file NOTICE (or NOTICE.txt) should be probably included as well.

While at it, move file headers above `package` declaration. Otherwise Eclipse (and perhaps other I

[2021-02-08 12:55] Tpt commented on #403
These issues [are going to be fixed](https://lists.wikimedia.org/pipermail/wikidata-tech/2021-February/001588.html). So, it might make sense to return the new entity objects there too.

[2021-02-08 12:57] Tpt commented on #376
This bug [will be fixed in Wikibase](https://lists.wikimedia.org/pipermail/wikidata-tech/2021-February/001588.html) in a few days.

[2021-02-08 19:40] robertvazan commented on #403
@Tpt Thanks for the heads-up. I will make all methods return full document.

[2021-02-10 08:27] wetneb commented on #527
Closed by #533.

[2021-02-10 08:27] #527 closed

[2021-02-12 04:39] robertvazan opened #535 "Some basic CONTRIBUTING doc"
A lot of useful information can be published in project's CONTRIBUTING.md.

Right now I am wrestling with formatter settings. My usual Java style is wildly different. I have my own custom formatter configured in Eclipse. I have configured WDTK projects to use "Eclipse [built-in]" formatter instead of my own and disabled import wildcards, but I still get large diffs when organizing imports (Ctrl+Sh

[2021-02-19 06:38] robertvazan commented on #529
Done.

[2021-02-19 06:38] #529 closed

[2021-02-22 17:04] MohamedRagabAnas opened #538 "QueryLogs deanonymization"
Hello,
Is there any script of class in the project that is doing deanonymization for the query logs, so the queries could be rerun again?

Thanks in advance for your help and support !

[2021-02-22 20:50] mkroetzsch commented on #538
The anonymisation was there to protect confidential personal information. Having a script to undo this would defeat the purpose, wouldn't it? However, many queries are not affected in their meaning and can be run as before. Only strings and geographic coordinates had to be changed in ways that cannot be fully recovered. See the [Wikidata SPARQL query log page](https://iccl.inf.tu-dresden.de/web/Wi

[2021-02-22 20:50] #538 closed

[2021-03-03 10:46] wetneb opened #541 "Add Dependabot to keep our dependencies up to date"
It would be useful to update dependencies as new versions are released, and release new versions of WDTK regularly ourselves. This would make our users' life easier by letting them choose the version of WDTK which fits well in their classpath depending on other dependencies. It's also useful to avoid security vulnerabilities.

[2021-03-03 11:01] #541 closed

[2021-03-18 05:47] robertvazan commented on #403
Just a quick update. I was a bit busy during the last few weeks, but I am working on this. Current version is here:

https://github.com/robertvazan/Wikidata-Toolkit

The fork mostly works. I am already using the new update classes to edit lexemes on Wikidata. There are a few issues left that need to be resolved before I can send PR.

[2021-03-21 07:51] wetneb opened #561 "MediaWikiApiErrorException rethrown as an IOException in logout method"
In https://github.com/Wikidata/Wikidata-Toolkit/blob/6cb761dfd355b1a4e4bc93722990ff3f638e47e7/wdtk-wikibaseapi/src/main/java/org/wikidata/wdtk/wikibaseapi/BasicApiConnection.java#L353 we re-bundle a MediaWikiApiErrorException as an IOException, but that is dumb as the former is more precise and the method signature already lets us throw the original exception.

[2021-03-30 07:20] jjkoehorst opened #564 "Duplicate entries in item document"
When testing on a local Wikibase instance I was adding property information to an item using the `wbde.updateStatements` and later on using the `wbde.updateTermsStatements`. Using either method it will add the new statement to the instance even if this statement with this exact value is already stored on this item page.

Is there a way to automagically merge duplicate entries and when adding a new

[2021-03-30 15:26] wetneb commented on #564
Hi Jasper,
Normally the merge functionality described in the javadoc should still work - that's something people use routinely in OpenRefine. I suspect the problem you have could be due to various things:
1. The value you might be pushing might be visibly identical to the one stored in Wikibase, but there might be subtle differences that are not shown in the UI (for instance, the calendar URI for

[2021-03-30 16:50] jjkoehorst commented on #564
I am indeed using a wikibase instance that runs locally so indeed not wiki data. Is there a way to point all references to the local instance instead of wiki data?

[2021-03-30 16:56] wetneb commented on #564
How do you create the data values you are pushing to Wikidata? With which siteIRI? Is it the same as the one you pass to the editing module?

[2021-03-30 17:12] jjkoehorst commented on #564
I am pushing nothing to Wikidata the authentication is performed with a local instance.

[2021-03-30 17:13] jjkoehorst commented on #564
This is what I use to authenticate:

[code]

and the wiki is a                 "-wiki", "http://localhost:8181/w/api.php", path

[2021-03-30 17:55] wetneb commented on #564
Ah sorry, I mean how do you create the data values you are pushing to Wikibase? As in, how do you generate the edits?

[2021-03-30 18:16] jjkoehorst commented on #564
Ah clear, so I have a item identifier

[code]

Statement creation function which returns the statement with a big decimal value and a stated in element

[code]

Hope this helps a bit?

[2021-03-31 05:15] jjkoehorst commented on #564
Thanks a lot this works great! Had multiple occurrences of Wikidata in the code so that is now cleaned up.

[2021-03-31 05:15] #564 closed

[2021-04-02 07:01] wetneb opened #565 "Inviting robertvazan to the project"
I would like to invite @robertvazan to the project so he can review PRs.
His contributions in PRs and discussions in issues speak for themselves, I would say.

[2021-04-02 07:18] Tpt commented on #565
It would be great indeed!
@lydiapintscher may you do that?

[2021-04-02 07:19] wetneb commented on #565
I can take care of it I think - I just wanted your thumbs up before

[2021-04-02 07:21] wetneb commented on #565
@Tpt I also made you an admin so you should be able to manage the project collaborators as well

[2021-04-02 07:21] #565 closed

[2021-04-02 07:45] Tpt commented on #565
@wetneb Thank you!

[2021-04-02 08:03] robertvazan commented on #565
How does this change the collaboration process? I guess discussion about planned changes remains the same, but how about actual commits? Does this mean developing in a branch instead of a fork and merging the branch myself without review? Or is there still review before branch merge?

What to do with the lexeme editing code? Most of it is already in my fork. I would like to complete it in the comi

[2021-04-02 08:18] wetneb commented on #565
In general I'd say it's good to always let someone else review your changes - but now you can also review and merge ours :)

You can develop in your fork or in a branch of the official repository as far as I am concerned (I use the official repository myself, but I feel slightly bad about it, I think it would be cleaner to use a fork).

[2021-04-02 08:31] robertvazan commented on #565
I have accepted the invitation. I will continue using pull requests for larger changes since pull requests provide structure for the process. Push access will however make it easier to commit bugfixes and other small changes without the overhead of pull requests. This will save some time for all of us. Thanks.

[2021-04-02 11:22] wetneb commented on #565
I would still do PRs even for bug fixes actually :)

[2021-04-02 11:27] robertvazan commented on #565
@wetneb I have never worked on shared project on GitHub before, so it's a bit confusing for me and I am guessing what the rules are. So sure, I will definitely send even bugfixes for review.

[2021-04-03 14:05] robertvazan commented on #403
Editing of lexemes as well as other entity types is fully implemented. I have a test app that I used to manually test every possible edit operation. Statement editing on senses works too. The only remaining regression from current statement editing code (aside from merging, which was deliberately left out), is reducing `wbeditentity` calls to one of the specialized Wikibase APIs (e.g. `wbsetclaim`

[2021-04-03 14:43] wetneb commented on #403
I'd say 1. : leave it to users whether they want to do an extra HTTP call to fetch the new entity. They might not need it so better not force them to pay that price. Also `wbgetentities` supports fetching multiple entities at once so it would be a waste to use it for a single entity after each edit.

[2021-04-03 14:43] robertvazan commented on #403
I would add a note about practical implementation in apps. Updated entity returned by `wbeditentity` cannot be trusted in case of concurrent edits and also because `wbeditentity` may succeed in performing the edit but fail to return updated entity (say due to temporary network failure). Robust caching of entities will therefore ignore result of `wbeditentity` and perform separate `wbgetentities` c

[2021-04-05 06:05] Tpt commented on #403
Thank you so much for moving forward with this! I also agree that option 1 is the best. Thank you again!

[2021-04-09 13:38] dukesun99 opened #568 "JSON dump parsing error while running examples"
I encountered below error message when running the examples `GreatestNumberProcessor` and `GenderRatioProcessor`.
[code]
The dump is automatically downloaded `20210407.json.gz`.

I tried to run the code on Windows (Build with Maven with IDEA, JDK 15.0.1) and Ubuntu (openJDK 1.8.0_282, run as IDEA remote).

It seems the dump file size is only ~200MB. Would that be correct?

Any help is appreciated.

[2021-04-09 22:13] robertvazan opened #569 "Handle login timeouts"
When not editing for a while, the next edit via `WikibaseDataEditor` fails due to session timeout. See the exception below. WDTK never recovers. Recovery has to be implemented on application level. It would be better if WDTK detected this kind of error, flagged the connection as disconnected, and automatically retried logging in on next request. Even better, it could retry the request that failed

[2021-04-12 06:19] #561 closed

[2021-04-26 14:25] Auregann commented on #437
Hello there,
I just wanted to let you know that we fixed the issue that was preventing to edit Senses and statements from wbeditentity ([T199896](https://phabricator.wikimedia.org/T199896)) which we hope will help tool maintainers to support Lexemes. We would of course love to see Wikidata Toolkit supporting Lexemes as it would be helpful to increase and diversify the tools base to edit Lexemes :)

[2021-04-29 17:28] robertvazan opened #575 "Interactive editing"
It should be possible to completely disable maxlag when WDTK is used in interactive tools. When flooding (rapid manual edits), maxlag might be still sensible, but there must be some upper bound on the total delay, so that semi-automated edits do not completely hang when some bot creates high lag.

Current workaround is to set very high maxlag.

[2021-05-02 07:44] wetneb opened #576 "Release?"
It seems that https://github.com/Wikidata/Wikidata-Toolkit/pull/574 would be worth releasing soon since it probably affects the ability to parse recent Wikidata dumps.
For OpenRefine I would also be interested in having a release that contains https://github.com/Wikidata/Wikidata-Toolkit/pull/562.

Should we do a release soon?

[2021-05-02 08:46] robertvazan commented on #576
How much work does it currently take to make a release? I script releases of my projects, but AFAIK WDTK requires a number of manual steps.

If you release now, there will likely be another release in two weeks after #570 is merged.

[2021-05-02 08:50] wetneb commented on #576
Good question about the release process, I don't know either, @Tpt has been doing them as far as I remember.

If you want to wait for #570 for a release then I can just do a snapshot in `org.openrefine.dependencies.wdtk` in the meantime.

[2021-05-02 08:52] robertvazan commented on #576
I don't need to wait. IMO, release should be made whenever it is useful.

[2021-05-02 08:55] robertvazan commented on #576
Some time ago, I have described how to automate releases in #108.

[2021-05-03 16:59] Tpt commented on #576
I currently make releases by hand but hopefully it [should be fairly scriptable](https://docs.github.com/en/actions/guides/publishing-java-packages-with-maven). What I can do is build a script for the next release, run it (and debug it locally) and then convert it to a GitHub actions. What do you think about it?

If you are both ok, I can do a 0.12 release soon.

[2021-05-04 20:19] robertvazan commented on #576
Tying the action to GitHub release is much neater than the generic trigger I am using in my projects. Let me know if you encounter any obstacles. I might have some relevant experience.

[2021-05-08 12:47] Tpt commented on #576
I have done the v0.12.0 release. I have tweaked the `pom.xml` file to allow releasing using `mvn deploy -Ddeploy`. I just need now to setup GitHub CI to build the releases automatically the next times.

[2021-05-08 12:57] robertvazan commented on #576
You don't need the profile in `pom.xml`. You can configure CI to skip signing by passing `-Dgpg.skip=true` to `mvn` command. Look in Travis config for one of my projects:

https://github.com/robertvazan/noexception/blob/master/.travis.yml

[2021-05-08 13:24] Tpt commented on #576
@robertvazan Thank you! I've done it. I have just pushed a release script inspired from yours. I hope it is fine for you.

[2021-05-11 13:44] wetneb opened #580 "Units in QuantityValues are stored internally as strings"
When constructing a QuantityValue, for instance with `Datamodel.makeQuantityValue(new BigDecimal("123"), myUnit)`, the unit will internally be stored using its IRI. It will then be reconstructed using `ItemIdValueImpl.fromIri(unitIRI)` when accessed via `QuantityValue.getUnitItemId()`. If the unit is accessed multiple times, the IRI will be parsed every time into an ItemIdValue, which is perhaps a

[2021-05-11 16:12] wetneb opened #581 "Linting"
My IDE is probably not configured to the correct tab vs space setting (or tab width…), so I get ugly diffs.

It would be nice to:
* [ ] document the code style used in the project and how to configure one's IDE to respect it
* [ ] add a linter to the CI to prevent people from accidentally pushing incorrect whitespace…

[2021-05-11 17:52] Tpt commented on #576
@wetneb @robertvazan I am considering building a new "patch" release to push #578. What would you think about it?

[2021-06-04 10:54] #580 closed

[2021-06-11 15:25] wetneb commented on #581
I had a look at a few established Java projects and none of them seemed to check linting in their CI. Is it perhaps not a widespread practice in the Java world? Has anyone got examples of Java projects where this is used?

[2021-06-11 17:50] thadguidry commented on #581
It is widespread, but not sure how your looking or searching for style checking tools as part of older Travis or newer GitHub projects?  Many projects just use [Checkstyle](https://github.com/checkstyle/checkstyle)

[2021-07-03 15:14] benjaminaaron opened #600 "NoSuchMethodError when following FetchOnlineDataExample"
I am using exactly the code from `FetchOnlineDataExample.java` (from [here](https://github.com/Wikidata/Wikidata-Toolkit/blob/master/wdtk-examples/src/main/java/org/wikidata/wdtk/examples/FetchOnlineDataExample.java)) and nothing else:

[code]

And get this error:

[code]

I have this in my `pom.xml`:
[code]

[2021-07-03 16:39] benjaminaaron commented on #600
It seems the parameters to pass to `RequestBody.create()` are in the wrong oder:

![Screenshot 2021-07-03 at 18 37 21](https://user-images.githubusercontent.com/5141792/124361119-c57ee980-dc2d-11eb-9f47-1941ded5d7ba.png)

[2021-07-03 21:49] wetneb commented on #600
Could this be a conflict between WDTK's OkHTTP and your OkHTTP? Maybe two different versions of the library are in the classpath? You could perhaps find out with `mvn dependency:analyze` (or `dependencies:analyze`, I cannot remember)

[2021-07-03 22:32] benjaminaaron commented on #600
Good idea @wetneb, thanks. I am not sure if the correct OkHTTP version gets used in my case. When I run `mvn dependency:tree` I get:
[code]
And the OkHTTP version `3.14.9` that is listed there, is also the one my IDE is pointing to as can be seen on the far right side of the popup window in the screenshot above.
However, when I run the command you suggested, `mvn dependency:analyze`, I get:
[code]

[2021-07-04 08:54] benjaminaaron commented on #600
When I remove the `wdtk-wikibaseapi` dependency from my `pom.xml`, these two external libraries vanish:
[code]
So no other dependency of mine is using them. I also removed the `squareup` folder in `~/.m2` to make sure its not a caching issue. Once I add the `wdtk-wikibaseapi` dependency, the same versions get added as external libraries.

[2021-07-04 08:54] wetneb commented on #600
The pom.xml file in this repository is for the development version of WDTK, it is normal that versions of WDTK released in the past use other versions of this dependency.
So the issue probably comes from somewhere else…

[2021-07-04 08:57] benjaminaaron commented on #600
My solution for now is to have a `public class FixedBasicApiConnection extends BasicApiConnection` that overrides `sendRequest()` and passes the parameters in swapped order to `RequestBody.create()`, then it works. If this is actually a general bug and not something local for me, I'd be happy to make a PR that swaps the parameters in `ApiConnection`.

[2021-07-28 18:19] #437 closed

[2021-08-06 06:14] wetneb opened #609 "Fix CodeCov integration"
Our codecov integration stopped working:
https://github.com/Wikidata/Wikidata-Toolkit/runs/3249516052?check_suite_focus=true
https://codecov.io/github/Wikidata/Wikidata-Toolkit/commit/47496a94494da22d0742969f1bf57eb86fbbb3da
It would be good to configure the CodeCov step to properly fail in those cases so that the whole build is marked as failing.
And of course it would be good to fix the integrat

[2021-08-10 19:32] robertvazan commented on #376
#570 resolves this by returning `void` from `WikibaseDataEditor.editEntityDocument()`. See [reasoning](https://github.com/Wikidata/Wikidata-Toolkit/issues/403#issuecomment-812869885) behind this design.

[2021-08-10 19:32] #376 closed

[2021-08-10 19:40] robertvazan commented on #447
@Tpt Can this be closed with conclusion that there are valid use cases for empty statement ID?

[2021-08-10 19:42] robertvazan commented on #403
@wetneb @Tpt Can this be closed as mostly done, perhaps with new issues for specific missing features?

[2021-08-10 19:47] robertvazan opened #610 "Support new editing API everywhere"
Add support for editing API introduced in #570 everywhere:

* `DatamodelConverter`
* `DatamodelFilter`
* `ToString`
* `ValueVisitor`
* examples

[2021-08-10 19:51] robertvazan opened #611 "Convenience methods in editing API"
Editing API introduced in #570 could use some convenience methods:

* convenience methods [suggested in #570](https://github.com/Wikidata/Wikidata-Toolkit/pull/570#issuecomment-885929484)
* possibly tolerate wider range of parameters (nulls, etc.)
* named builder constructors `fromUpdate(XUpdate)`

[2021-08-10 19:53] robertvazan opened #612 "More Wikibase APIs"
Add support for `wbsetsitelink`, `wbsetclaimvalue`, `wbsetqualifier`, `wbsetreference`, `wbremovequalifiers`, `wbremovereferences` in `WbEditingAction` and `WikibaseDataEditor`.

[2021-08-12 18:07] #403 closed

[2021-08-25 09:57] Tpt commented on #447
Yes, indeed.

[2021-08-25 09:58] #447 closed

[2021-11-07 23:10] wetneb commented on #532
Closing since the JsonSerializer should be enough for that case.

[2021-11-07 23:10] #532 closed

[2021-11-12 14:08] wetneb opened #627 "DatamodelConverter is missing support for some entity types"
This should also have `MediaInfoIdValue` and others (lexeme, form, sense):
https://github.com/Wikidata/Wikidata-Toolkit/blob/6754af679e90480cae596b733f28d2062cc04ebf/wdtk-datamodel/src/main/java/org/wikidata/wdtk/datamodel/helpers/DatamodelConverter.java#L418-L427

[2021-11-12 15:15] wetneb opened #629 "Java 17 support"
Java 17 is the latest LTS version for Java. We could add it to our CI to check we support it.

[2021-11-12 15:47] #629 closed

[2021-11-12 15:47] #627 closed

[2021-11-12 17:27] wetneb commented on #459
Closed by #593.

[2021-11-12 17:27] #459 closed

[2021-11-13 09:48] wetneb opened #631 "Visitor patterns for entity types and entity id types"
Arguably, the reason why #627 was allowed to happen in the first place is that the need for an update in `DatamodelConverter` was not flagged by the compiler when new entity types were introduced.

In functional programming languages this is normally solved by constructs like pattern matching where the compiler is able to detect the lack of exhaustiveness at compile time. In Java (or at least in t

[2021-11-13 10:29] wetneb commented on #631
Actually it seems that those have been left out on purpose because entity types can be extended by Wikibase extensions:
https://github.com/Wikidata/Wikidata-Toolkit/blob/4706ab9028858327d8af792cdbbdc4c1845f6de6/wdtk-datamodel/src/main/java/org/wikidata/wdtk/datamodel/interfaces/ValueVisitor.java#L23-L35

Now the problem is: we still use `instanceof` on entity documents and entity id values at vari

[2021-11-20 07:50] wetneb commented on #474
Actually this might not be an issue! Commons sort of pulls in all of Wikidata in its own namespace. One can check that by the fact that by visiting http://commons.wikimedia.org/entity/Q42.

[2021-11-20 07:50] #474 closed

[2021-12-03 07:26] mkroetzsch opened #636 "Take part in Abstract Wikipedia licensing discussion"
Abstract Wikipedia is currently debating the license terms under which code should be published there. Mostly, it seems to turn into a GPL vs Apache debate (or restrictive vs. permissive open source). This seems to be relevant to Wikidata toolkit, since:
- Abstract Wikipedia is supposed to (among other things) publish code that can be used to verbalise data, and which could be useful for the proje

[2021-12-13 11:37] markusforster commented on #568
Hi @dukesun99, any updates on this? I'm experiencing exactly the same problem.

[2021-12-13 15:15] dukesun99 commented on #568
Hi, no, I switched to Python to deal with the dump.

[2021-12-18 03:09] wetneb opened #638 "Support for file uploads"
WDTK supports creating new items, properties and lexemes, but not MediaInfo entities, and for a good reason: those cannot be created without uploading the corresponding file (to Commons at least).

Would it be appropriate to add support for file upload, via [the corresponding MediaWiki API action](https://commons.wikimedia.org/w/api.php?action=help&modules=upload)? That API action has nothing to d

[2021-12-18 08:50] wetneb commented on #638
@Tpt curious what you think about this! :)

[2021-12-18 08:59] Tpt commented on #638
It's a great question! I would say explicitly proviidng code for uploading file is out of scope of Wikibase but we definitely should provide some ways to make it easy to do action API calls not explicitly supported by WDTK using the `ApiConnection` object. Interop with existing Java client(s) would be even better indeed. We should also keep in mind the there is a work in progress REST API for Wiki

[2021-12-23 15:11] wetneb commented on #495
This must have been some sort of glitch in the upload process. Since many other versions have been published since, I think we can close this.

[2021-12-23 15:11] #495 closed

[2021-12-28 06:12] robertvazan opened #640 "Java modules"
I have been very busy during the last few months, so I couldn't contribute to WDTK. I would like to resume contributions, but meantime my projects moved to Java 11 or 17 and they are now all [Java modules](https://en.wikipedia.org/wiki/Java_Platform_Module_System), which makes it much harder to test WDTK with them. So I would like to open discussion about how to introduce JPMS in WDTK. I see sever

[2021-12-28 13:15] wetneb commented on #640
Intuitively I would rather not precipitate dropping support for Java 8, so I would start with your option 2. But my understanding of JPMS is still very limited, so I might not fully grasp the benefits it offers.

I am curious about why the fact that your other projects use Java 11 or 17 makes it much harder to test WDTK with them: why is it harder than before? Has it become harder to install a sna

[2021-12-28 21:55] robertvazan commented on #640
@wetneb The usual way to test libraries with my other projects is to just enable workspace dependency resolution in Eclipse. I just open the library (WDTK in this case) in my workspace and all projects in the workspace automatically start using it instead of pulling JARs from Maven Central. It's very convenient, because I get full benefits of the IDE (cross-project refactoring, instant error repor

[2021-12-28 23:27] wetneb commented on #640
Thanks for the explanation! For sure it's not a hill I will die on (OpenRefine itself dropped support for Java 8 for other reasons, but there might be other people out there stuck with Java 8 for some reason).

[2021-12-29 01:57] robertvazan commented on #640
After some research, I think multi-release JARs might not be that hard. They are hard when supplying different classes for different JREs, but just adding module-info.java into Java 8 JARs should be easy. There are Maven plugins that can assist with this: [modulemaker](https://github.com/raphw/modulemaker-maven-plugin) and [moditect](https://github.com/moditect/moditect). The first one is simpler,

[2021-12-29 03:08] robertvazan commented on #640
While experimenting with JPMS in WDTK, I came across blocker for JPMS support. WDTK uses two OkHttp libraries that present themselves as two modules (`okhttp3` and `okhttp3.urlconnection`) but claim the same package (`okhttp3`). Compiler wouldn't accept that. I have reported it upstream (https://github.com/square/okhttp/issues/4184#issuecomment-1002353915), but fix may take months to get released.

[2021-12-29 05:31] cowwoc commented on #640
There are plenty of good alternatives to OkHttp to offer JPMS support. It's just a question of what features you need. jetty-client's design is less pleasing but its implementation is solid. I'm sure there are any others.

In my experience, most/all Google libraries will stay on Java8 forever. This seems to be due to Google politics more than anything else. They have been ignoring JPMS-related iss

[2022-01-17 22:15] wetneb opened #643 "IndexOutOfBoundsException when fetching a MediaInfoDocument for a page where structured data has never been edited"
Consider a Wikimedia Commons file whose structured data has never been edited. It still has a pageid, so we can still construct its Mid, but fetching it with `wbgetentities` will return it as missing:

https://commons.wikimedia.org/w/api.php?action=wbgetentities&ids=M91629437
[code]

When performing this query with Wikidata-Toolkit (via `WikibaseDataFetcher.getEntityDocuments()` one currently obta

[2022-01-20 12:32] j-sal opened #645 "Duplicated statements with the editor.editEntityDocument api"
When using the new `editor.editEntityDocument` api, Alias (for existing Items) and Label (for existing MediaInfo) updates will upload to Wikibase without duplication, but a Statement update will be duplicated on both Items and MediaInfo entities if an equal Statement is already present.
This is a regression from the previous `editor.updateTermsStatements` api.

[2022-01-20 12:43] wetneb commented on #645
@robertvazan we encountered the problem above while migrating to the new API in OpenRefine. I wonder if the change is intentional, i.e. if we should re-implement de-duplication on our side, or if it is worth adding back to WTDK?

[2022-01-20 15:38] robertvazan commented on #645
Merge logic was indeed omitted for being application-specific. Or more precisely, there was this idea that pluggable merge strategies would be later added to the API. The API nevertheless allows you to ensure that no duplicate statements are added, but all the merge logic must be on application side for now. I could be more specific given some sample code.

[2022-01-20 15:41] wetneb commented on #645
That makes total sense, as you know this is something I wanted to work on anyway. We can reimplement something on our side for now, and push it to WDTK if it feels ripe for it.

[2022-01-22 11:23] #643 closed

[2022-02-11 13:01] wetneb commented on #645
I am working on reimplementing this on OpenRefine's side.

[2022-02-11 13:01] #645 closed

[2022-02-11 13:04] wetneb opened #651 "Generic method to create new EntityDocument in WikibaseDataEditor"
We currently have generic methods to perform an EntityUpdate on the target Wikibase, but to create new entities we only have methods which depend on the entity type. We could add a generic version of it:
`WikibaseDataEditor::createEntityDocument(EntityDocument entityDocument, String summary, List<String> tags)`.

This would fail for entity types which cannot be created in this way (such as `MediaI

[2022-03-02 08:43] wetneb opened #659 "Release?"
Hello @Tpt and @robertvazan,

What do you think about making a release? For instance `0.13.0` since @robertvazan's changes to the editing API deserve more than a patch release update?
Since @Tpt automated the process in GitHub releases, I should be able to just to change the version in the pom, tag, create a GitHub release and done, right?

[2022-03-05 12:25] wetneb commented on #576
This was released.

[2022-03-05 12:25] #576 closed

[2022-03-05 14:42] wetneb commented on #659
I have released it as 0.13.1 (there was a problem in the deployment script so 0.13.0 was effectively skipped).

[2022-03-05 14:42] #659 closed

[2022-03-05 15:12] wetneb commented on #493
The problem comes from `Datamodel.makeQuantityValue(bdShare, "percentage")`: the second argument is not expected to be a bare string but the URI of another entity in your Wikibase instance. So this is not a bug :)

[2022-03-05 15:12] #493 closed

[2022-03-05 15:14] wetneb commented on #468
You should group all the qualifiers of a given statement by property, and then create a snak group for each of those groups. In many cases, this means essentially having one snak group for each qualifier (since qualifiers often use different properties).

[2022-03-05 15:14] #468 closed

[2022-03-05 15:15] wetneb commented on #636
Thanks for the heads up! The discussion is now closed, so I am closing this ticket too.

[2022-03-05 15:15] #636 closed

[2022-03-05 15:16] wetneb commented on #638
Let's close this then, we will try to do upload actions on our own (accessing the credentials from Wikidata-Toolkit in some way, for instance by abusing JSON serialization)

[2022-03-09 19:20] wetneb opened #663 "Update Javadocs"
Our javadocs served at http://wikidata.github.io/Wikidata-Toolkit/ are quite out of date, we should integrate their publication in the CI process that runs at each release.

[2022-04-01 12:44] #651 closed

[2022-04-01 13:48] wetneb commented on #638
I looked into this and it seems that we are nearly there: `ApiConnection` already provides public methods to perform arbitrary API actions. The only missing piece is the ability to pass files in those requests, so I would propose to add that.

[2022-04-12 15:16] #638 closed

[2022-04-13 16:42] wetneb commented on #663
The update was successful.

[2022-05-15 21:02] wetneb commented on #568
I tried debugging this and it seems that we are at least hurt by https://phabricator.wikimedia.org/T305660. We could introduce a workaround to accept the current format, or just wait for the issue to be fixed in Wikibase.

[2022-06-15 18:44] wetneb commented on #600
Ok, so in OpenRefine it works, and there we manually pin to okhttp 4.9.3. So let me just publish a new minor release with that dependency. We can then investigate why this is not even picked up at compilation time or in the tests. Very weird!

[2022-06-15 19:19] wetneb commented on #600
Ok, we actually pull in two different versions of OkHTTP as dependencies of WDTK at the moment, hence the mess. Let me clean that up.

[2022-06-17 17:12] robertvazan opened #696 "Built-in server"
I propose adding simple built-in Wikibase server to WDTK, mostly intended for use in unit tests. This issue is for discussion of the idea.

Built-in server would have some limitations, at least initially:

- Only in-memory storage. It might be exposed for direct access if it helps avoid complexity elsewhere.
- No human-readable error messages. Just a dump of whatever is found in the exception.
- S

[2022-06-17 17:19] thadguidry commented on #696
If it's mostly for unit tests, why not just run a Wikibase docker image as part of the CI/CD as well as for local development.
It seems like adding it __into__ WDTK might not be that advantageous?  Maybe the advantages could be added in your notes above.

[2022-06-17 18:20] robertvazan commented on #696
Dockerized Wikibase server would be preferable, because it is complete and identical to production server. The trick is in how to fully automate test setup. Forcing every developer to manually setup Wikibase container and then configure tests to use it by placing config file in well-known location is rather unappealing.

[2022-06-17 18:24] robertvazan commented on #696
PS: Wikibase API would also have to be reviewed to make sure it gives full control of the server. Tests need to create users, manipulate their permissions, and bulk-delete everything between tests.

[2022-06-17 19:06] wetneb commented on #696
It seems like really a ton of work to me, and difficult to maintain. If we migrate to such a system, then it would also create the expectation that if someone implements support for a new action in WDTK, they should also implement it in this bare-bones server, and probably test that implementation there as well… it feels pretty daunting and overkill to me.

[2022-06-18 21:25] robertvazan commented on #696
@wetneb I have done co-development of client+server+messages in my professional work. Improved testability of the full stack is totally worth the extra 10-20% of code per feature. Client has to be tested somehow. Thorough testing with mockwebserver is likely more expensive and less reliable. Dockerized Wikibase could be even better option though. I am reviewing that approach now.

[2022-06-18 21:34] thadguidry commented on #696
@robertvazan let me know if you need help.  or hop into the Telegram channel for Wikibase https://t.me/joinchat/HGjGexZ9NE7BwpXzMsoDLA

[2022-06-29 08:49] Lhaaits commented on #600
What's the status of this bug? I guess it's related to reverting 536?

[2022-06-29 09:11] Lhaaits commented on #600
I'm kind of confused what I would need to exclude. I'm only using the wdtk-wikibaseapi. Not sure where okhttp 5 would be coming from...
[code]

[2022-06-29 11:28] robertvazan commented on #600
@Lhaaits I will have to test this on my own app

@wetneb Mockwebserver alternative is a lot of work. Merging #694 makes it harder, because junit5 upgrade would have to be reapplied after it. I had to give my attention to two other opensource projects, so I am only getting around to this now.

[2022-06-29 11:49] wetneb commented on #600
As you prefer! Let me merge #694 and make a patch release so that people can test it more easily.

[2022-07-01 08:45] Lhaaits opened #700 "Support EDTF"
I noticed that org.wikidata.wdtk.datamodel.interfaces.DatatypeIdValue does not contain [EDTF](https://www.wikibase.consulting/wikibase-edtf/) (Extended Date Time Format) and I would like to add this.

[2022-07-01 08:58] wetneb commented on #700
Since Wikibase lets extensions define new datatypes, we should make sure that it is not necessary to modify Wikidata-Toolkit itself to use those datatypes.

As far as I know, it should already be possible for you to use Wikidata-Toolkit to work with EDTF values on a Wikibase instance.
Notice that the list of datatypes stored in `DatatypeIdValue` is actually a list of static strings. That means tha

[2022-07-01 09:09] Lhaaits commented on #700
Thanks for the quick reply. I didn't realize I could supply my own datatype IRI. It might still be good to add the canonical IRI "http://wikiba.se/ontology#Edtf" (according to https://github.com/Wikidata/triplify-json), but I'll leave the conversion and stuff out then.

[2022-07-01 09:14] Lhaaits commented on #700
Aw no push permission..

[2022-07-01 10:43] wetneb commented on #700
The way it works in GitHub is that you need to create a "pull request":
https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request

[2022-07-01 11:09] Lhaaits commented on #700
Done: https://github.com/Wikidata/Wikidata-Toolkit/pull/701

[2022-07-01 13:24] #700 closed

[2022-07-01 14:16] wetneb commented on #600
hey @Lhaaits, we just released a new version which could potentially solve this, can you check on your side if it works for you?

[2022-07-01 15:03] Lhaaits commented on #600
0.13.4?
Still same exception:
[code]

[2022-07-01 15:49] wetneb commented on #600
Thanks!

@robertvazan my offer to downgrade to stable okhttp still stands. I understand you do not like it because it downgrades Junit but it feels pretty important to me to solve this quickly. I will personally not have the time to embark on a big change of our testing architecture (by adding a dockerized Wikibase or by developing our own Wikibase-like server).

[2022-07-02 06:32] wetneb commented on #600
@Lhaaits how about 0.13.5?

[2022-07-04 07:20] Lhaaits commented on #600
Still the same problem :/

[2022-07-04 07:26] Lhaaits commented on #600
`mvn dependency:tree
[INFO] Scanning for projects...
[INFO]
[INFO] --------------------------< nl.kb.kbga:emma >---------------------------
[INFO] Building EMMA 0.0.4-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-dependency-plugin:3.2.0:tree (default-cli) @ emma ---
[INFO] nl.kb.kbga:emma:jar:0.0.4-SNAPSHOT
[INFO] +- nl.kbif.leibni

[2022-07-04 07:28] Lhaaits commented on #600
3.14.9 is the only version of okhttp being imported. Not sure why RequestBody.create would expect anything else?

[2022-07-04 07:40] wetneb commented on #600
Hmmm, I am not sure where "3.14.9" is coming from. This new version of WDTK depends on OkHTTP 4.2.2. Could you try adding an explicit dependency to `com.squareup.okhttp3:okhttp-urlconnection:4.2.2` in your POM?

[2022-07-04 07:56] Lhaaits commented on #600
![image](https://user-images.githubusercontent.com/28875766/177108807-f718439d-8759-4b02-bda9-58023f679393.png)

[2022-07-04 07:57] Lhaaits commented on #600
Still uses okhttp:3.14.9, and still gives the error. I'll also try to get it to work locally and maybe make a pull request

[2022-07-04 08:35] Lhaaits commented on #600
I tried with and without exclusion rule for both okhttp-urlconnection and okhttp. In all cases it's still giving the same error.
In the fork I made locally of wdtk master branch I also got the same error btw

[2022-07-04 08:55] Lhaaits commented on #600
It's weird how the underlying dependencies my application seems to be importing are different from the ones wdtk-api is importing, for the same base version

[2022-07-04 08:59] Lhaaits commented on #600
![image](https://user-images.githubusercontent.com/28875766/177120609-592dbc1d-7918-4ef2-b973-129f0e0bdebe.png)

[2022-07-04 08:59] Lhaaits commented on #600
![image](https://user-images.githubusercontent.com/28875766/177120701-1cfdf75f-cac2-4963-8c3a-bace1f7e7ad0.png)

[2022-07-04 09:52] wetneb commented on #600
From your last screenshot, it looks like you are indeed using okhttp 4.2.2. Could it be that you have left the previous workaround in place (the `FixedBasicApiConnection` suggested above, or a similar one), meaning that the arguments are not in the order expected by okhttp 4.2.2?

[2022-07-04 10:15] wetneb commented on #600
I would try adding an explicit dependency to `com.squareup.okhttp3:okhttp:4.2.2` as well.
Also I would be curious what you get with a `grep -RP "3\.14\.9" .` in your project workspace (and potentially maven cache?) which could lead you to the place where this version is mentioned?

[2022-07-04 10:18] Lhaaits commented on #600
Also adding com.squareup.okhttp3:okhttp:4.2.2 seems to work!

[2022-07-04 10:46] robertvazan commented on #600
@wetneb Aren't we missing okhttp 4.x dependency in wikibaseapi module? It could spare downstream projects of the need to declare the dependency in their own POM.

[2022-07-04 10:54] wetneb commented on #600
It sounds like a sensible move given @robertvazan's experience indeed!

[2022-07-05 08:03] Lhaaits commented on #426
I would like to build in the clientLogin action. I have it working in Postman so I know which steps and parameters are needed. Is there anything against implementing it?

[2022-07-05 08:08] wetneb commented on #426
I think it would be very welcome indeed!

[2022-07-06 06:45] wetneb opened #706 "Migrate to <dependencyManagement> to control versions of dependencies"
We currently use Maven properties in the root POM to specify the versions of our dependencies, but that only works to control the versions of the dependencies that are directly mentioned in submodules. Using the <dependencyManagement> section would instead let us control the versioning of transitive dependencies as well.

Is that correct @robertvazan?

[2022-07-06 08:51] robertvazan commented on #706
I am using dependency management simply to keep versions in parent POM, but maven docs indeed say that transitive dependencies can be controlled this way too. That's a plus, AFAICT.

[2022-07-06 12:28] Lhaaits commented on #426
I made a pull request: https://github.com/Wikidata/Wikidata-Toolkit/pull/707. I wasn't able to run `mvn clean install` locally though, because I need some gpg key:
[code]

[2022-07-06 13:07] wetneb commented on #426
You can actually use any GPG key for that: you just need to register it in your personal Maven config.

[2022-07-06 13:53] thadguidry commented on #426
@Lhaaits would you mind adding that info "any GPG key" to our technical contributor docs to help others in the future? Thanks!

[2022-07-07 11:51] Lhaaits commented on #426
@thadguidry where can I find the technical contributor docs?

[2022-07-07 12:18] wetneb commented on #426
I suspect @thadguidry might have mixed up this project and OpenRefine

[2022-07-07 12:30] thadguidry commented on #426
Oops yes sorry was on mobile

[2022-07-07 12:39] Lhaaits commented on #426
It's working locally now. I created a gpg key and added the passphrase to my ~/.m2/settings.xml. @wetneb could you have a look at the PR when you have time?

[2022-07-15 11:49] #426 closed

[2022-07-27 13:51] Lhaaits opened #712 "Wrong password gives unclear message"
when logging in, the error code is not correctly handled when using the connection.login method. The response is
```{"login":{"result":"Failed","reason":"Incorrect username or password entered. Please try again."}}```
which is not one of the LoginValue options, causing the message to be too generic: "Error text not recognized".
Instead the reason should be used as the message in case of a Failed r

[2022-07-27 14:01] Lhaaits commented on #712
I think the assumption that the result value of a wrong password would be WrongPass in the login call either changed or was always wrong, but because of my clientLogin implementation it got handled differently. I made a bugfix: https://github.com/Wikidata/Wikidata-Toolkit/pull/713

[2022-08-02 14:11] wetneb commented on #712
Closed by #713.

[2022-08-09 07:45] wetneb opened #716 "Deserializing a property with `localMedia` datatype fails"
When trying to deserialize a property with `localMedia` dataype, such as this one:

[code]

We fail because the deserialization of the datatype fails, because the JSON encoding of datatypes is supposedly not allowed to contain capital letters: it should match some regex:
https://github.com/Wikidata/Wikidata-Toolkit/blob/e99f19683099beae2b0f8e6c22f094495357f951/wdtk-datamodel/src/main/java/org/wiki

[2022-08-09 14:53] Tpt opened #718 "Remove datatype IRI from Wikibase data model implementation"
Datatype IRIs are not native to the Wikibase Data Model. They crease a lot of problems like #716.

We might replace the  `DatatypeIdValue` IRI field with a new field storing the JSON datatype ID.

The IRI support would be moved to the RDF module and stay there.

Migration path:
1. Merge #717
2. Deprecate the IRI field of the DatatypeIdValue
3. After one or two release, drop the IRI field.
4. Migra

[2022-08-09 15:15] wetneb commented on #718
I am obviously very tempted by that plan.
I was assuming that the IRI field was somehow needed by wdtk-rdf, perhaps. In that case it might be possible to just push this into that module instead.

[2022-08-10 08:13] #716 closed

[2022-08-13 11:29] #718 closed

[2022-09-22 17:06] Lhaaits commented on #239
This thread and the wikimedia bug seem to have died. But I just ran into the same issue. I would like to add uselang as an optional property to WbGetEntitiesSearchData so I can pass it to WikiDataFetcher.searchEntities

[2022-10-28 12:12] wetneb opened #737 "Rename to Wikibase-Toolkit or something else?"
Since this library is not particularly specific to Wikidata but applies to all Wikibases, perhaps it would be named differently. "Wikibase-Toolkit" could be an option, but perhaps it would be worth using a name which indicates a bit more clearly that it is a Java library.
Thoughts?

[2022-10-29 09:39] Tpt commented on #737
That's a great question! Indeed, a more Java-related and Wikibase name would be better. But is the renaming worth the hassle?

[2022-11-14 05:24] wetneb opened #741 "OAuth2 support"
Since fairly recently, Wikimedia wikis support OAuth 2, which has some advantages over OAuth 1. For instance, it is possible to use it without a client secret, making it interesting for open source local clients such as OpenRefine.

We could add support for OAuth 2 in Wikidata-Toolkit. This could consist in a third subclass of `ApiConnection` perhaps, or the extension of our existing subclass for

[2022-11-22 19:49] wetneb opened #745 "Incorrect behavior when converting multiple non-existent filenames to mids"
When giving multiple non-existent filenames to convert to Mids, `WikibaseDataFetcher.getMediaInfoIdsByFileName` does not return the expected value because the API returns a payload of the form:
[code]

The code assumes that non-existent filenames always get `-1` as key, but the second gets `-2` so code returns a "mid" of `M-2`.

[2022-11-23 08:14] #745 closed